@model SchoolDistrictBilling.Models.SchoolDistrict

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h3>
<div>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="SchoolDistrictUid" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>

<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
